<h1>Your ticket ID is <%= @ticket.id%></h1>
<p>
  <b>Plate Number:</b>
  <%= @ticket.plate_number %>
</p>

<p>
  <b>Stall:</b>
  <%= @ticket.stall.location %>
</p>

<p>
  <b>Time:</b>
  <%= @create_time %>
</p>
<p>
  <b>Now:</b>
  <%= @now_time %>
</p>
<p>
  <b>You have parked for:</b>
  <%= @distance_time %>
  <% if @distance_time > 1 %>
  <b>hours</b>
  <% else %>
  <b>hour</b>
  <% end %>
</p>
<br />
<%= link_to "back", :action => "to_park" %>
<%= link_to "out", :action => "out", :id=>@ticket.id %>
