<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<%= form_tag :action => "park" do  %>
	<%= label_tag "Plate Number" %>
	<%= text_field_tag :plate_number %>
	<%= submit_tag "park" %>
<% end %>
<%= form_tag :action => "find_ticket" do %>
	<%= lable_tag "ticket ID" %>
	<%= text_field_tag :id %>
	<%= submit_tag "query" %>
<% end %>
